body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */
#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */
#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */
#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}

/* mis clases css */
.no-padd
{
  padding: 0px;
}
.img-tam{
  height: 75px;
  width: 90px;
  padding: 0px;
  margin: 0px;
  border-radius: 15%;
}
.img-tam2{
  height: 85px;
  width: 85px;
  padding: 1px;
  margin: 0px;
  border-radius: 50%;
}